@import "../index.css";

.toolbar{
    justify-content: space-between;
}
ul {
    top: 0px;
    display: flex;
    flex-direction: 'row';
    flex-wrap: 'wrap';
    gap: 20px;
    list-style-type: none;
    height: 50px;
    align-items: center;

}

img{
    height: 80px;
    padding: 5px;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

a:visited {
    color: inherit;
    text-decoration: none;
  }